<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">New User</li>
  </ol>
</nav>
<form action="/addUser"  method="post" class="row g-3 needs-validate">
<div class="form-floating mb-3 col-6">
  <input type="text" class="form-control" id="floatingFirstName" name="firstName" placeholder="john">
  <label for="floatingInput">First Name</label>
  
  
</div>
<div class="form-floating mb-3 col-6">
    <input type="text" class="form-control" id="floatingLastName" name="lastName" placeholder="doe">
  <label for="floatingInput">Last Name</label>
</div>
<div class="form-floating mb-3 col-6">
    <input type="email" class="form-control" id="floatingEmailAdress" name="email" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating col-6">
  <input type="number" class="form-control" id="floatingPhoneNumber" name="phone" placeholder="phone Number">
  <label for="floatingPassword">Phone Number</label>
</div>

<div class="form-floating">
  <textarea class="form-control" name="comments" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>
<div class="col-12 d-grid">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>